---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Converter from '../components/Converter';
---

<Layout title='Tum till cm'>
  <main>
    <h1>Tum till cm - Policy</h1>
    <p>
      Vi samlar inte in någon data från dig. Den enda anledningen till att denna
      sidan finns är för att Google kräver det för att du ska kunna se alla fina
      annonser.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #3c6ca8;
    font-size: 39px;
    line-height: 1.6;
    background-color: #eab2bb;
  }
</style>
